.skill-container{
    background-color: #111827;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10vh 0
}
.skills-text{
    color: #C7C7C7;
    margin: 10px 0;
}
.logos-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0
}
.logo-container{
    margin:0px;
    padding:0px;
    object-fit: cover;
    flex: 1 2 100px;
    margin:15px 0
}
.logo-img{
    height:50px;
    object-fit: cover;
}