.badges-container{
    width:fit-content;
    height:fit-content;
    border-radius: 10px ;
    padding: 0px 20px 2px 20px;
}
.normal{
    background-color: #374151;
    color: #C7C7C7;
}
.green{
    background-color: #20bf44;
    color: #001302;
}